:root {
  --background-color-header: #89FA8A;
  --background-color-default: #D4F9D5;
  --content-height: calc(100vh * 10 / 100);
}

.App-header {
  background-color: var(--background-color-header);
  min-height: var(--content-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: var(--background-color-default);
  min-height: calc(100vh * 90 / 100);
  min-width: min-content;
  display: flex;
  flex-wrap: wrap;
}

.divider {
  background-color: aquamarine;
  min-height: 100%;
  min-width: 500px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-area {
  background-color: cadetblue;
  height: 10em;
  width: 90%;
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.input-area input {
  height: 100%;
  font-size: large;
}

.input-nome {
  grid-row-start: 2;
  grid-row-end: 3;
}

.input-preco {
  grid-row-start: 5;
}

.input-area #nome {
  height: 100%;
  font-size: large;
  grid-column-start: 3;
  grid-column-end: 10;
}

.input-area #preco {
  grid-column-start: 3;
  grid-column-end: 5;
}

.input-area button {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.input-area label {
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 3;
}

.show-items {
  background-color: red;
  height: 98%;
  width: 90%;
  margin-top: 0.5em;
}

.show-bar{
  background-color: black;
  height: 60%;
  width: 90%;
}